<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629164011709-gfed5j788o13ht091rgftrsrf9vi1ho9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629164011709-gfed5j788o13ht091rgftrsrf9vi1ho9</string>
	<key>API_KEY</key>
	<string>AIzaSyB6wzMxBDMQ9JsVrhbayNfGKihyLzhQo64</string>
	<key>GCM_SENDER_ID</key>
	<string>629164011709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alan.kim.Journal-App</string>
	<key>PROJECT_ID</key>
	<string>firestore-journal-app-55987</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-journal-app-55987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629164011709:ios:48aaefef5bb49fc13c07d4</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-journal-app-55987.firebaseio.com</string>
</dict>
</plist>